.botonesColor{
    margin: 40px;
}

.tituloPag{
    margin: 40px;

}


.subtituloPag{
    margin: 40px;

}

.parrafoInicial{
    margin: 40px;
}

.formularioAgregar{
    margin: 40px;
}

.botonesInteract{
    margin: 40px;
}

.cartasJuga{
    margin: 40px;
}

.parrafoFinal{
    margin: 40px;
}

.botonCalculador{
    margin: 40px;
}